.img-characters {
    width: 15rem;
}

.container-character {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    border: 1px solid #f3f3f3;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 10px 10px 5px -6px rgba(209,207,209,1);

}

.container-info {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

.true {
color: green;
}

.false {
color: red;
}

.container a {
    text-decoration: none;
    color: black
}

@media (max-width: 820px) {
    .container-character {
        width: 80%;
  
    }
}

@media (max-width: 768px) {
    .container-info {
      padding: 10px;
    }
  
    .img-characters {
      max-width: 100%;
    }
    .container-character {
      width: 100%;
    }
}
  
  @media (max-width: 480px) {
    .container-info h1 {
      font-size: 1.5em;
    }
    .container-character {
        width: 100%;
      }
  
    .container-info p {
      font-size: 1em;
    }
  
    .img-characters {
      max-width: 100%;
    }
  }
  